.restaurant-image {
  padding: 10px 10px 10px 10px;
  margin: 0px;
  width: 300px;
  height: 240px;
  border-radius:10%;
  background-color: #235;
  float: right;
}

.restaurant-title {
  padding: 8px 0px 10px 0px;
  margin: 0;
  font-size: 22px;
  font-weight: bold;
  float:left;
  color: orange;
}

.box {
  background-color:white;
  border: 5px solid black;
  float: left;
  height: 400px;
  padding-left: 1%;
}

.addressText {
  margin: 0px;
  padding: 4px;
  float: left;
}

.description {
  margin: 0;
  float: left;
}

.btn-restaurant {
  border-radius: 25px;
  /*box-shadow: 10px 10px 5px #888888;*/
  color: white;
  margin-bottom: 5%;
  /*visibility: hidden;*/
}

.edit-restaurant {
  background-color: blue;
}

.del-restaurant {
  background-color: red;
}

/*body {
  background-color: #379;
}*/

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  /*padding-right: 10px;
  padding-top: 10px;*/
  padding: 10px 20px 10px 0px;
}

.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

.special-font {
/*font-family: 'Black Ops One', cursive;*/
font-family: 'Luckiest Guy', cursive;
}
