
.single-box-restaurant {
  background-color:white;
  border: 5px solid black;
  float: left;
  height: inherit;
  padding-left: 1%;
}

.single-box-review {
  background-color:white;
  border: 5px solid black;
  float: left;
  height: inherit;
  padding-left: 1%;
  margin-top: 1.5%
}

.rating-position {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
}

.company-address {
  width: 40%;
  float: right;
  margin-top: 20px;
  padding-top: 2%;
  padding-left: 2%;
  border-radius: 20%;
  border-style: groove;
  border-color: #235;
}
.restaurant-map-image {
  padding: 10px;
  width: 230px;
  height: 200px;
  border-radius:20%;
  background-color: #235;
}

.employees {
  padding: 4%;
}

.edit-employees, .delete-employees, .add-employee {
  margin: 2%;
}

.employee-table-header, .employee-table-data {
  padding: 7%;
  background-color: white;
}
