{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block content %}

  <div class="container">
    <h2>Instructors:</h2>
    {% for instructor in instructor %}
      <h3 class="name"><a href="/instructors/{{instructor.id}}">{{instructor.names}}</a></h3>
      <p>{{instructor.biography}}</p>
      <p>{{instructor.rating | safe}}</p>
      <hr>
    {% endfor %}

    <h1>Admin Area:</h1>
    <h3><a href="/instructors/new" type="button" class="btn btn-primary">Add New instructor</a></h3>
    <button class="btn btn-primary edit-instructor">Edit instructor</button>
    Please select an instructor from a dropdow menu.
    <br>
    <select id="editId" class="form-control">
    {% for instructor in instructor %}
      <option value="{{instructor.id}}">
      {{instructor.names}}
      </option>
    {% endfor %}
    </select>
    <br>
    <button class="btn btn-sm btn-primary delete-instructor">Delete</button>
    Please select an instructor from a dropdow menu.
    <select id="deleteId" class="form-control">
    {% for instructor in instructor %}
      <option value="{{instructor.id}}">
      {{instructor.names}}
      </option>
    {% endfor %}
    </select>

  </div>

{% endblock %}
