{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <section class="col-md-4">
      <h1>Instructor:</h1>
      {{instructor[0].names}}
      <br>
        <!-- {{instructor.photo_url}} -->
      {{instructor[0].biography}}
      <br>
      <h1>This instructor is teaching:</h1>
      {% for class_info in class_info %}
        <a href="../classes/{{class_info.instructor_id}}/class">{{class_info.name}}</a>
        {{class_info.day}}
        {{class_info.start_time}} ~
        <br>
      {% endfor %}
      <a href="/reviews/{{instructor[0].id}}" type="button" class="btn btn-success form-button">Review This instructor</a>
      <br>
      <a href="/instructors" type="button" class="btn btn-success form-button">Back</a>
    </section>
    <section class="col-md-8">
      <h1>Instructor Reviews:</h1>
      {% for instructor in review %}
        {{instructor.review}}
        <br>
        {{instructor.rating | safe}}
        <br>
      {% endfor %}
    </section>
  </div>
</div>

{% endblock %}
