{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row addNewClassLink">
    <a href="/classes/new">Add a new class</a>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-1">
      <h1>Mon</h1>
    </div>
    <div class="col-md-2">
      <h1>Tues</h1>
    </div>
    <div class="col-md-2">
      <h1>Wed</h1>
    </div>
    <div class="col-md-2">
      <h1>Thurs</h1>
    </div>
    <div class="col-md-2">
      <h1>Fri</h1>
    </div>
  </div>
  <div class="schedule">
  {% for i in range (6,10) %}
    <div class="row">
      <div class="timeBlock 0{{i}}:00am">
        <h4>{{i}}:00 am</h4>
      </div>
    </div>
  {% endfor %}
    <div class="row">
      <div class="timeBlock 10:00am">
        <h4>10:00 am</h4>
      </div>
    </div>
    <div class="row">
      <div class="timeBlock 11:00am">
        <h4>11:00 am</h4>
      </div>
    </div>
    <div class="row">
      <div class="timeBlock 12:00pm">
        <h4>12:00 pm</h4>
      </div>
    </div>
  {% for i in range (1,10) %}
    <div class="row">
      <div class="timeBlock 0{{i}}:00pm">
        <h4>{{i}}:00 pm</h4>
      </div>
    </div>
  {% endfor %}
  </div>


  {% for class in classes %}
    {% if class.day === "Monday" %}
    <div class="row">
      <div class="col-md-3 classBlock {{class.start_time}}">
      <h4>{{class.name}}</h4>
        {% for instructor in instructors %}
          {% if instructor.id === class.instructor_id%}
        <section>Instructor: <a href="instructors/{{instructor.id}}" >{{instructor.names}}</a></section>
          {% endif %}
        {% endfor %}
        <section>Start: {{class.start_time}}</section>
        <section>End: {{class.end_time}}</section>
      </div>
    </div>
    {% endif %}
  {% endfor %}

  {% for class in classes %}
    {% if class.day === "Tuesday" %}
    <div class="row">
      <div class="classBlock">
      <h4>{{class.name}}</h4>
        {% for instructor in instructors %}
          {% if instructor.id === class.instructor_id%}
        <section>Instructor: <a href="instructors/{{instructor.id}}" >{{instructor.names}}</a></section>
          {% endif %}
        {% endfor %}
        <section>Start: {{class.start_time}}</section>
        <section>End: {{class.end_time}}</section>
      </div>
    </div>
    {% endif %}
  {% endfor %}

  {% for class in classes %}
    {% if class.day === "Wednesday" %}
    <div class="row">
      <div class="classBlock">
      <h4>{{class.name}}</h4>
        {% for instructor in instructors %}
          {% if instructor.id === class.instructor_id%}
        <section>Instructor: <a href="instructors/{{instructor.id}}" >{{instructor.names}}</a></section>
          {% endif %}
        {% endfor %}
        <section>Start: {{class.start_time}}</section>
        <section>End: {{class.end_time}}</section>
      </div>
    </div>
    {% endif %}
  {% endfor %}

  {% for class in classes %}
    {% if class.day === "Thursday" %}
    <div class="row">
      <div class="classBlock">
      <h4>{{class.name}}</h4>
        {% for instructor in instructors%}
          {% if instructor.id === class.instructor_id%}
        <section>Instructor: <a href="instructors/{{instructor.id}}" >{{instructor.names}}</a></section>
          {% endif %}
        {% endfor %}
        <section>Start: {{class.start_time}}</section>
        <section>End: {{class.end_time}}</section>
      </div>
    </div>
    {% endif %}
  {% endfor %}

  {% for class in classes %}
    {% if class.day === "Friday" %}
    <div class="row">
      <div class="classBlock">
      <h4>{{class.name}}</h4>
        {% for instructor in instructors%}
          {% if instructor.id === class.instructor_id%}
        <section>Instructor: <a href="instructors/{{instructor.id}}" >{{instructor.names}}</a></section>
          {% endif %}
        {% endfor %}
        <section>Start: {{class.start_time}}</section>
        <section>End: {{class.end_time}}</section>
      </div>
    </div>
    {% endif %}
  {% endfor %}
</div>


{% endblock %}
