{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block content %}

<div class="container edit-container">
  <h1>Edit Class Information</h1>
  <br><br>
  <form class="form-horizontal edit-form" method="POST" action="/classes/">

  <div class="container">

    <select class="form-control">
      <option>Select Class Name</option>
      {% for class in classes %}
      <option name="name">{{class.name}}</option>
      {% endfor %}
    </select>
    <br>

    <select class="form-control">
      <option>Select Instructor ID</option>
      {% for instructor in instructors %}
      <option name="instructor_id">{{instructor.instructor_id}}</option>
      {% endfor %}
    </select>
    <br>

    <select class="form-control">
      <option>Select Day of Class</option>
      {% for day in days %}
      <option name="day">{{day.day}}</option>
      {% endfor %}
    </select>
    <br>

    <select class="form-control">
      <option>Select Start Time</option>
      {% for start in starts %}
      <option name="start_time">{{start.start_time}}</option>
      {% endfor %}
    </select>
    <br>

    <select class="form-control">
      <option>Select End Time</option>
      {% for end in ends %}
      <option name="end_time">{{end.end_time}}</option>
      {% endfor %}
    </select>
    <br>

    <select class="form-control">
      <option>Select Class Size</option>
      {% for size in sizes %}
      <option name="size">{{size.size}}</option>
      {% endfor %}
    </select>
    <br>

    <select class="form-control">
      <option>Select Class Description</option>
      {% for description in descriptions %}
      <option name="description">{{description.description}}</option>
      {% endfor %}
    </select><br><br>

    <a href="/classes/"><button type="submit" value="submit" class="btn btn-success edit_class btn-lg">Save Changes</button></a>

    </div>
    </form>
  </div>
{% endblock %}
