{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block content %}
<div>
    <div>
      <label for="inputEmail">Email</label>
      <div>
        <p id="email" placeholder="Email">{{ renderObject.email }}
      </div>
    </div>
    <div>
      <label for="first_name">First Name</label>
      <div>
        <p id="firstName">{{ renderObject.first_name }}
      </div>
    </div>
    <div>
      <label for="last_name">Last Name</label>
      <div>
        <p id="lastName">{{ renderObject.last_name }}
      </div>
    </div>
    <div>
      <label for="address_line_1">Street Address 1</label>
      <div>
        <p id="line_1">{{ renderObject.address_line_1 }}
      </div>
    </div>
    <div>
      <label for="address_line_2">Street Address 2</label>
      <div>
        <p id="line 2">{{ renderObject.address_line_2 }}
      </div>
    </div>
    <div>
      <label for="city">City</label>
      <div>
        <p id="city">{{ renderObject.city }}
      </div>
    </div>
    <div>
      <label for="state">State</label>
      <div>
        <p id="state">{{ renderObject.state}}
      </div>
    </div>
    <div>
      <label for="zip">Zip</label>
      <div>
        <p id="zip">{{ renderObject.zip }}
      </div>
    </div>
    <div>
      <label for="comments">What should we know about you?</label>
      <div>
        <p id="comments">{{ renderObject.comments}}
      </div>
    </div>
    <div>
      <label for="Password">Password</label>
      <div>
        <p id="Password">{{ renderObject.password}}
      </div>
      <p type="hidden" id="user_id">{{ renderObject.id }}</p>
    </div>
    <div>
        <a href="/users/edit/user_edit_profile" id="editProfile">Edit</a>
    </div>
</div>

<script type="text/javascript" src="/js/edit_user.js"></script>
{% endblock %}
