h1 {
  font-size: 48px
}

h1, h2, h3, h4, h5, p {
  color: #666;
}

h3, h3 :hover, h3 a {
  color: #669900;
  font-style: italic;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0;
}

a {
  color: #00B7FF;
}

img {
  max-width: 350px;
  max-height: 350px;
  border: 1px solid #999;
}

.alert {
  color: red;
  font-weight: bold;
}

/* header */
header {
  color: #999;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 100 !important;
  clear: both;
  overflow-x: hidden;
}

.nav ul {
	list-style: none;
	position: relative;
	float: left;
	padding: 1rem 4rem;
}

.nav .right {
  float: right;
}

.nav ul a {
	display: block;
	color: #555;
	line-height: 32px;
	padding: 0 1rem;
}

.nav ul li {
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
}

.nav ul li.current-menu-item {
	background:#ddd;
}

.nav ul ul {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background: rgba(255, 255, 255, 0.9);;
	padding: 0;
}

.nav ul ul li {
	width: 200px
}

.nav ul li:hover > ul {
	display:block
}

/* main */
.container {
  width: 100%;
  min-height: 800px;
  margin: 0;
  padding: 60px;
  background-color: #f2f2f2;
  position: relative;
}

.bannerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 800px;
  padding: 0;
  margin: 0;
  background-image: url('../images/Banner02.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.bannerText {
  text-align: center;
  color: #333;
  padding: 10% 20%;
  background: rgba(255, 255, 255, 0.5);
}

.bannerText p {
  font-family: 'Sarina', cursive;
  font-size: 24px;
}

/* instractors page */
.window {
  display: inline-block;
}

/* review page */
.review {
  margin: 2rem;
  padding: 1rem;
}

.wrap {
  padding: 2rem 0;
}

.addmin {
  padding-top: 40px;
  clear: both;
}

.review p::first-letter {
  font-size: 150%;
  color: #333;
}

/* contact us page */
#map {
  width: 100%;
  height: 400px;
  background-color: grey;
 }

/* footer */
footer {
  color: #999;
  position: fixed;
  text-align: right;
  padding: 1rem 4rem;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 768px) {
  header {
    height: 180px;
    background-color: rgba(255, 255, 255, 1);
  }

  .nav .right {
    background-color: rgba(0, 0, 0, .3);
  }

  .container {
    margin-top: 150px;
  }

  footer {
    background-color: rgba(255, 255, 255, 1);
  }
}

.about-us {
  text-align: center;
  margin-bottom: 30px;
}
