body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0;
}

a {
  color: #00B7FF;
}

.alert {
  color: red;
  font-weight: bold;
}

/* nav bar */
.navbar {
  display: flex;
  align-items: center;
  padding-left: 4rem;
  background-color: rgba(255, 255, 255, 0.5);
}

/* index page */
.container {
  margin: 0;
  padding: 0;
}

.bannerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 800px;
  padding: 0;
  margin: 0;
  background-image: url('../images/Banner02.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.bannerText {
  color: #333;
  padding: 5%;
  background: rgba(255, 255, 255, 0.5);
}

/* footer */
