body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.alert {
  color: red;
  font-weight: bold;
}

/*index page*/
.landing {
  height: 400px;
  background-image: url('images/Banner02.jpg');
}
